@import "tailwindcss";

/* Wedding palette */
:root {
	--color-bg: #faf3e3; /* soft background */
	--color-text: #532f1c; /* main text */
	--color-accent1: #af6f5b;
	--color-accent2: #9f6633;
	--color-accent3: #dca279;
	--color-accent4: #7b673b;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	margin: 0;
	padding: 0;
}
